html {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

nav {
    z-index: 2;
    height: 8vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    font-size: 1.2vw;
}

nav>img {
    width: 14vw;
}

.nav-content {
    display: flex;
    cursor: pointer;
    width: max-content;
    justify-content: space-between;
    color: hsl(233, 8%, 62%);
    font-weight: 300;
}

.nav-content>li {
    list-style: none;
}

.nav-content>li>a {
    padding: 0 1rem;
    text-decoration: none;
    color: rgb(141, 135, 135);
    transition: 200ms ease-in-out;
}

.nav-content>li>a:hover {
    padding-bottom: .8rem;
    transition: 200ms ease-in-out;
    border-bottom: 4px solid;
    border-image: linear-gradient(to right, hsla(136, 54%, 47%, 0.651), hsla(192, 70%, 51%, 0.671)) 1;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 2.5rem;
    background-image: linear-gradient(to right, hsla(136, 64%, 45%, 0.904), hsla(192, 70%, 51%, 0.671));
    padding: .8vw 1.5vw;
    font-size: 1.2vw;
    font-weight: 400;
    color: white;
}

header {
    margin-top: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
    width: 100vw;
    padding-bottom: 1rem;
}

.content {
    max-width: 40vw;
    padding: 0 4rem;
    font-size: 2vw;
}

#nav {
    display: none;
}

.content>h1 {
    color: hsl(233, 26%, 24%);
}

.content>div {
    margin: 1.8vh 1.8vw 1.8vh 0vw;
    color: rgba(165, 163, 163, 0.897);
    font-size: .7em;
}

.head-img {
    width: 50vw;
}

.bg-mob {
    position: absolute;
    overflow-x: hidden;
    width: 40vw;
    top: -2vh;
    right: -8vw;
}

.mob {
    position: absolute;
    width: 38vw;
    height: 40vw;
    top: -8vh;
    right: -8vw;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    background-color: hsl(220, 16%, 96%);
    padding: 5vh 7vw;
}

.ph-img {
    display: none;
}

section>.head {
    max-width: 30rem;
    align-self: flex-start;
    font-size: 1rem;
    color: hsl(233, 26%, 24%);
    margin-bottom: .5rem;
}

section>.head>div {
    font-size: .8em;
    color: rgba(165, 163, 163, 0.897);
}

section>.panel-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.panel {
    width: 15rem;
    margin-top: 1rem;
    font-size: .8rem;
    color: hsla(233, 26%, 24%, 0.815);
}

.panel>img {
    max-width: 3rem;
}

.panel>div {
    color: rgba(165, 163, 163, 0.897);
}

article {
    width: 90vw;
    background-color: hsl(0, 0%, 98%);
    padding: 5vh 7vw;
}

article>h1 {
    font-size: 1.5rem;
    color: hsla(233, 26%, 24%, 0.815);
}

.panel-article {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: rgba(165, 163, 163, 0.897);
}

.blog {
    margin-top: 1rem;
    background-color: white;
    max-width: 15rem;
    border-radius: 6px;
    font-size: .8rem;
}

.blog>div>h3 {
    color: hsla(233, 26%, 24%, 0.815);
    font-size: 1rem;
}

.blog>div {
    margin: 1rem .8rem;
}

.blog>img {
    max-width: 15rem;
    border-radius: 6px 6px 0 0;
}

footer {
    min-height: 10rem;
    margin-top: 30px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: hsl(233, 26%, 24%);
}

.contact {
    padding: .5vh .5vw;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: white;
}

.p-1>img {
    width: 14vw;
}

.social {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.hamer{
    display: none;
}
.social>img {
    cursor: pointer;
    width: 1.5vw;
    height: 1.5vw;
}

.p-2>div, .p-3>div {
    margin-right: 1.2rem;
    margin-bottom: .5rem;
    font-size: .8em;
}

.contact>.policy {
    display: flex;
    justify-content: space-around;
}

.certificate>button {
    margin-bottom: 2rem;
}

.certificate {
    color: white;
    text-align: end;
}
#nav{
    display: none;
}
.social-icon:hover {
    cursor: pointer;
    fill: rgb(0, 255, 0);
}
.p-2>div:hover, .p-3>div:hover{
    cursor: pointer;
    color: rgb(0, 255, 0);
}
button:hover{
    background-image: linear-gradient(to right, hsla(136, 72%, 70%, 0.904), hsla(192, 66%, 65%, 0.733));

}

.blog>div>h3:hover{
    color: rgb(95, 241, 241);
}
@media screen and (max-width:400px) {
    
    nav {
        z-index: 2;
        height: 5vh;
        justify-content: space-between;
        padding: 0 2vw 0 2vw;
    }
    nav>img {
        width: 30vw;
    }
    .nav-content, nav>button {
        display: none;
    }
    header {
        flex-wrap: wrap-reverse;
    }
    .head-img {
        display: none;
    }
    .content {
        min-width: 100vw;
        padding: 0 4vw;
        font-size: 1rem;
    }
    .content>div {
        font-size: .8em;
        text-align: center;
    }
    button {
        border-radius: 2.5rem;
        padding: 4vw 10vw;
        font-size: .8rem;
        font-weight: 400;
        color: white;
    }
    .ph-img{
        display: block;
    }
    .ph{
        width: 100vw;
    }
    .ph-mob{

        position: absolute;
        left:10vw;
        top: -5vh;
        width: 80vw;
        height: 50vh;
    }
    .hamer{
        display: block;
    }
    .content {
        align-items: center;
    }
    .head>h1, .head>div {
        text-align: center;
    }
    .panel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .panel>div {
        text-align: center;
        font-size: .7rem;
    }
    article>h1 {
        text-align: center;
    }
    .blog>h3 {
        font-size: .5rem;
    }
    .blog>div {
        font-size: .6rem;
    }
    .contact {
        flex-direction: column;
    }
    .p-1>img {
        padding: 0 .8rem;
        margin-top: 2rem;
        width: 40vw;
    }
    .social>img {
        width: 1rem;
        height: 1rem;
    }
    .policy {
        margin-top: 1rem;
        flex-direction: column;
    }
    .p-2, .p-3 {
        text-align: center;
    }
    .certificate>button {
        margin: 2rem 0;
    }
    .certificate {
        color: white;
        text-align: center;
    }
    #nav {
        z-index: 1;
        position: fixed;
        flex-direction: column; 
        align-items: center;
        width: 100vw;
        margin-top: 3rem;
    }
    li {
        display: flex;
        box-shadow: 0 0 12rem 3rem rgb(59, 0, 155);
        flex-direction: column; 
        align-items: center;
        justify-content: center; 
        width: 95vw;
        font-size: .5rem;
        background-color: rgb(253, 253, 253);
        border-radius: .3rem;
        list-style: none;
        margin-bottom: 1rem;
    }
    a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: .8rem;
        margin: 1rem 0;
        text-align: center;
    }
    i {
        display: block;
        margin-right: 20px;
        font-size: 1rem;
    }
    #close,#nav{
        display: none;
    }
    a:hover {
        transition: 200ms ease-in-out;
        border-bottom: 2px solid;
        border-image: linear-gradient(to right, hsla(136, 54%, 47%, 0.651), hsla(192, 70%, 51%, 0.671)) 1;
    }
}